@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,500;1,5..1200,400;1,5..1200,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 62vw;
    margin: 0 auto;
    min-width: 900px;
}

.menu {
    width: 100%;
    height: 320px;
}

.logonav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logonav img {
    width: 250px;
    height: 250px;
}

.list-container {
    display: flex;
    justify-content: center;
    margin: 0 35px;
    padding: 0;
}

.list-container ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 0px 0px 0px;
    margin: 0 0;
}

.list-container a {
    font-size: 20px;
    text-decoration: none;
    color: #212427;
    position: relative;
}

.list-container ul li:nth-child(2) {
    padding-left: 15px;
}

.list-container a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #f2c1bd;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.list-container a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.sobrebackground {
    --svg-widht: 30px;
    --svg-height: 5px;
    max-height: 100%;
    padding: 0px;
    background: 
    repeating-linear-gradient(
        45deg,
        transparent,
        transparent 40px,
        #f3cecb 40px,
        #f3cecb 70px
    ),
    /* on "bottom" */
    linear-gradient(
        to bottom,
        #fcdcdc,
        #f3cecb
    );
    position: relative;
}

.sobrebackground::before,
.sobrebackground::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--svg-height);
    background-color: white;
    -webkit-mask-image: url(/img/svgpath.svg);
    -webkit-mask-size: var(--svg-widht) var(--svg-height);

    mask-image: url(/img/svgpath.svg);
    mask-size: var(--svg-widht) var(--svg-height);
}


.sobrebackground::before {
    top: 0;
}

.sobrebackground::after {
    bottom: 0;
    transform: rotate(.5turn);
}

.sobre {
    min-height: 593px;
    display: flex;
    align-items: center;
}

.fotodulce {
    border: 20px solid rgba(255, 255, 255, .9);
    border-radius: 100%;
}


.descricao {
    font-size: 20px;
    padding: 10px 0px 10px 80px;
}

.descricao h1 {
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.2rem;
}

.fotobolo {
    height: 500px;
    overflow: hidden;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}

.fotobolo img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in-out;
}

.legendabolo {
    position: absolute;
    z-index: 1;
    bottom: 0;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.8);
    width: 100%;
    padding: 5px;
}

.legendabolo h6 {
    font-weight: 100;
    font-size: 1.4rem;
}

.fotobolo img:hover {
    transform: scale(1.05);
}

.fotosbolos {
    max-width: 90%;
    display: grid;
    gap: 1rem;
    margin: 25px auto;
}

@media only screen and (max-width: 920px) {
    .container {
        margin: auto auto;
        min-width: 300px;
    }

    .fotodulce {
        display: none;
    }

    .descricao {
        margin: 5px;
        padding: 15px;
        font-size: 1rem;
        text-align: left;
    }
}

@media (min-width: 920px) {
    .fotosbolos {
        grid-template-columns: repeat(2, 1fr);
    }
  }


@media (min-width: 1200px) {
    .fotosbolos {
        grid-template-columns: repeat(3, 1fr);
    }
  }


.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.delivery h2,
h3 {
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic;
    color: #212427;
    font-size: 35px;
    padding: 10px 0px 3px 0px;
}

.delivery ul li {
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}

.btndelivery {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.btndelivery button {
    padding: 20px 40px;
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    border: 1px solid #f3cecb;
    outline: 1px solid #f3cecb;
    cursor: pointer;
    background-color: white;
    transition: all ease-in-out 200ms;
}

.btndelivery button a {
    font-family: 'Playfair', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    text-decoration: none;
}

.btndelivery button a:visited {
    text-decoration: none;
    color: #272121;
}

.btndelivery button a:link {
    text-decoration: none;
    color: #272121;
}

.btndelivery button:hover {
    background-color: #fdddda;
    outline: 1px solid #f3cecb;
    outline-offset: 3px;
}

footer {
    background: repeating-linear-gradient(
        to right,
        #ffefee,
        #fadbd8 10px,
        #fadbd8 10px,
        #ffefee 20px
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    padding: 20px 0px 0px 0px;  
}

footer a {
    padding: 10px 0px;
}



#sendtotop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #9b6c65;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10000px;
    font-size: 5px; 
  }
  
  #sendtotop:hover {
    background-color: #985146; 
  }